@font-face {
    font-family: EuclidCircularB-Regular;
    src: url("/assets/fontes/EuclidCircularB-Regular.otf") format("truetype");
}

* {
    font-family: EuclidCircularB-Regular;
}

/**
    Classes de estílo
/\**/

.box {
    display: flex;
    flex-flow: column;
}

.boxContent {
    height: 100%;
    padding: 1em 4em 1em 4em;
}