<!-- Componente de Navbar -->
<nav class="customNavbar">
    <a href="/pedidos" class="logo">
        <img src="../../../assets/icones/logotipo-maximatech.png" width="100" height="30">
    </a>

    <ul class="listNavbar">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle"
                role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Cadastro</a>

            <div class="dropdown-menu">
                <a class="dropdown-item">Cliente </a>
                <a class="dropdown-item">Produto</a>
            </div>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Pedido</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="pedidos/novo">
                    Novo pedido
                </a>

                <a class="dropdown-item" href="/pedidos">
                    Consulta pedido
                </a>

            </div>
        </li>
    </ul>
</nav>