
.customNavbar {
    background: #FFFFFF;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listNavbar {
    list-style-type: none;
}


ul {
    margin: 0;
    padding-left: 0;
}

li {
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    margin-right: 2rem;
}

li:hover {
    cursor: pointer;
}

li a {
    text-decoration: none;
    display: block;
    width: 100%;
    color: black;
    font-size: 16px;
}


.logo {
    margin-right: 1rem;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    transition: all 2s ease;
    position: absolute;
    left: 0;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    left: 0;
    min-width: 10rem;
}